# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Alembic
# =========================
alembic/__pycache__/

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
